In [14]:
import pandas as pd
import python.Config as Config
from IPython.display import HTML, display

df = pd.read_pickle(Config.H5_PATH + '/AggregatedDataset.pkl')
cols = ['price_promotion', 'mailing_ind', 'topo_in', 'price_grp', 'card_group', 'lxpy', 'monofolha_ind', 'ilha_ind']

print(df[:0])
display(df[cols].describe())

Empty DataFrame
Columns: [location_cd, promotion, time_key, sku, change_pct, price_promotion, price_retail, mailing_ind, tematico_ind, topo_in, ilha_ind, folheto_ind, tv_ind, price, price_grp, card, card_group, lxpy, monofolha_ind, quantity_int, gross_sls_amt_eur_int, quantity_time_key, gross_sls_amt_eur_time_key]
Index: []

[0 rows x 23 columns]

,price_promotion,mailing_ind,topo_in,price_grp,card_group,lxpy,monofolha_ind,ilha_ind
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = pd.read_pickle(Config.H5_PATH + '/ColumnedDataset.pkl')

display(df.describe())

,location_cd,promotion,time_key,sku,change_pct,price_retail,tematico_ind,folheto_ind,tv_ind,price,card,quantity_int,gross_sls_amt_eur_int,quantity_time_key
count,4.547103e+06,4.547103e+06,4.547103e+06,4.547103e+06,4.547103e+06,636549.000000,133403.0,869048.0,70806.0,4.547103e+06,4.547103e+06,4.547103e+06,4.547103e+06,4.547103e+06
mean,7.066864e+02,2.789119e+06,2.015956e+07,4.746409e+06,3.083310e-01,4.554971,1.0,1.0,1.0,8.802798e-01,9.588391e-02,2.025553e+00,4.922551e+00,1.071432e-01
std,8.231066e+02,4.319622e+04,3.185270e+03,1.221740e+06,1.112602e-01,2.471469,0.0,0.0,0.0,3.246341e-01,2.944320e-01,1.267625e+01,1.905848e+01,6.688828e-01
min,1.000000e+00,2.728381e+06,2.015080e+07,2.076395e+06,3.500000e-02,0.650000,1.0,1.0,1.0,0.000000e+00,0.000000e+00,-6.450000e-01,-9.610000e-01,-5.892370e+00
25%,2.370000e+02,2.765875e+06,2.016040e+07,4.276377e+06,2.500000e-01,2.290000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.970000e+02,2.790704e+06,2.016073e+07,5.330760e+06,2.540000e-01,4.350000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,1.333300e-01,5.370000e-01,0.000000e+00
75%,1.004000e+03,2.803205e+06,2.016100e+07,5.632678e+06,3.570000e-01,5.890000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,7.777300e-01,2.641330e+00,3.333000e-02
max,4.552000e+03,2.998700e+06,2.016113e+07,6.000772e+06,8.240000e-01,25.990000,1.0,1.0,1.0,1.000000e+00,1.000000e+00,1.127192e+03,1.337435e+03,9.139263e+01

In [18]:
df = pd.read_pickle(Config.H5_PATH + '/ColumnedDatasetNonNegative.pkl')
display(df.describe())

,location_cd,promotion,time_key,sku,change_pct,price_retail,tematico_ind,folheto_ind,tv_ind,price,card,quantity_int,gross_sls_amt_eur_int,quantity_time_key
count,4.546011e+06,4.546011e+06,4.546011e+06,4.546011e+06,4.546011e+06,636460.000000,133380.0,868919.0,70799.0,4.546011e+06,4.546011e+06,4.546011e+06,4.546011e+06,4.546011e+06
mean,7.067143e+02,2.789122e+06,2.015956e+07,4.746357e+06,3.083164e-01,4.555071,1.0,1.0,1.0,8.803408e-01,9.581917e-02,2.025477e+00,4.922147e+00,1.071753e-01
std,8.231327e+02,4.319613e+04,3.184990e+03,1.221764e+06,1.112515e-01,2.471433,0.0,0.0,0.0,3.245626e-01,2.943431e-01,1.267176e+01,1.905434e+01,6.689530e-01
min,1.000000e+00,2.728381e+06,2.015080e+07,2.076395e+06,3.500000e-02,0.650000,1.0,1.0,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.370000e+02,2.765875e+06,2.016040e+07,4.276377e+06,2.500000e-01,2.290000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.970000e+02,2.790704e+06,2.016073e+07,5.330760e+06,2.540000e-01,4.350000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,1.333300e-01,5.370000e-01,0.000000e+00
75%,1.004000e+03,2.803205e+06,2.016100e+07,5.632678e+06,3.570000e-01,5.890000,1.0,1.0,1.0,1.000000e+00,0.000000e+00,7.779700e-01,2.641330e+00,3.333000e-02
max,4.552000e+03,2.998700e+06,2.016113e+07,6.000772e+06,8.240000e-01,25.990000,1.0,1.0,1.0,1.000000e+00,1.000000e+00,1.127192e+03,1.337435e+03,9.139263e+01

In [21]:
df = pd.read_pickle(Config.H5_PATH + '/ColumnedDatasetNonNegativeWithDate.pkl')
df = df.drop('promotion', 1)
df = df.drop('year', 1)

display(df.head())

,location_cd,week,week_day,sku,change_pct,price_retail,tematico_ind,folheto_ind,tv_ind,price,card,quantity_int,gross_sls_amt_eur_int,quantity_time_key
0,1,30,2,5255243,0.5,NaN,NaN,NaN,NaN,0,1,0.0,0.000,0.0
1,1,31,4,5255243,0.5,NaN,NaN,NaN,NaN,0,1,0.0,0.000,0.0
2,1,31,6,5255243,0.5,NaN,NaN,NaN,NaN,0,1,0.0,0.000,0.0
3,1,31,0,5255243,0.5,NaN,NaN,NaN,NaN,0,1,0.0,0.000,0.0
4,1,31,2,5255243,0.5,NaN,NaN,NaN,NaN,0,1,0.2,1.396,0.2

In [22]:
df = pd.read_hdf(Config.H5_PATH + '/ColumnedDatasetNonNegativeWithDateImputer.h5')

display(df.head())

,location_cd,week,week_day,sku,change_pct,price_retail,tematico_ind,folheto_ind,tv_ind,price,card,quantity_int,gross_sls_amt_eur_int,quantity_time_key
0,1,30,2,5255243,0.5,4.555071,1.0,1.0,1.0,0,1,0.0,0.000,0.0
1,1,31,4,5255243,0.5,4.555071,1.0,1.0,1.0,0,1,0.0,0.000,0.0
2,1,31,6,5255243,0.5,4.555071,1.0,1.0,1.0,0,1,0.0,0.000,0.0
3,1,31,0,5255243,0.5,4.555071,1.0,1.0,1.0,0,1,0.0,0.000,0.0
4,1,31,2,5255243,0.5,4.555071,1.0,1.0,1.0,0,1,0.2,1.396,0.2

In [24]:
df = pd.read_hdf(Config.H5_PATH + '/ColumnedDatasetNonNegativeWithDateImputerBinary.h5')
display(df[:0])

Empty DataFrame
Columns: [change_pct, price_retail, tematico_ind, folheto_ind, tv_ind, price, card, quantity_int, gross_sls_amt_eur_int, quantity_time_key, location_cd_1, location_cd_2, location_cd_3, location_cd_4, location_cd_5, location_cd_6, location_cd_7, location_cd_8, location_cd_9, location_cd_10, location_cd_11, location_cd_12, location_cd_13, location_cd_14, location_cd_16, location_cd_201, location_cd_202, location_cd_203, location_cd_204, location_cd_205, location_cd_206, location_cd_207, location_cd_208, location_cd_209, location_cd_210, location_cd_211, location_cd_212, location_cd_213, location_cd_214, location_cd_215, location_cd_216, location_cd_217, location_cd_218, location_cd_219, location_cd_220, location_cd_221, location_cd_222, location_cd_223, location_cd_224, location_cd_226, location_cd_228, location_cd_229, location_cd_230, location_cd_231, location_cd_232, location_cd_233, location_cd_234, location_cd_235, location_cd_236, location_cd_237, location_cd_238, location_cd_239, location_cd_240, location_cd_241, location_cd_242, location_cd_244, location_cd_245, location_cd_246, location_cd_247, location_cd_248, location_cd_249, location_cd_250, location_cd_251, location_cd_252, location_cd_253, location_cd_255, location_cd_256, location_cd_257, location_cd_258, location_cd_259, location_cd_260, location_cd_261, location_cd_262, location_cd_263, location_cd_265, location_cd_266, location_cd_267, location_cd_268, location_cd_269, location_cd_270, location_cd_271, location_cd_272, location_cd_273, location_cd_275, location_cd_277, location_cd_278, location_cd_279, location_cd_280, location_cd_281, location_cd_282, ...]
Index: []

[0 rows x 974 columns]

In [26]:
df = pd.read_hdf(Config.H5_PATH + '/PCAed.h5')
display(df.head())

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-5.265074,0.818782,-0.037529,-1.359843,-0.011867,-0.005303,0.086456,0.195890,-0.482389,0.711288,...,-0.006158,-0.009960,-0.001248,0.011064,0.009934,-0.015480,-0.006542,-0.002395,-0.000655,-0.001573
1,-5.264644,0.819964,-0.038883,-1.274900,0.912968,0.039278,-0.282590,-0.167473,0.124562,-0.001880,...,-0.007190,-0.012336,-0.001319,0.007517,0.003456,-0.011989,0.001304,-0.000856,0.000163,-0.000423
2,-5.264807,0.818354,-0.039722,-1.295787,-0.264738,-0.691824,-0.550014,-0.224495,0.136284,-0.001941,...,-0.007260,-0.012523,-0.001461,0.007539,0.003258,-0.011777,0.001146,-0.000986,0.000218,-0.000514
3,-5.264812,0.818433,-0.038917,-1.331534,-0.026818,-0.006968,0.110617,0.646344,0.661884,-0.003363,...,-0.007508,-0.013006,-0.001071,0.007312,0.003369,-0.011004,0.000834,-0.001057,0.000252,-0.000541
4,-3.967555,0.266628,-0.038501,-1.352187,-0.010117,-0.004882,0.076805,0.200127,-0.469930,0.711246,...,-0.007126,-0.012068,-0.000824,0.007758,0.003391,-0.010147,0.000801,-0.000993,0.000064,-0.000540